<configuration>

    <property name="DISCORD_WEBHOOK_URL" value="${DISCORD_WEBHOOK_URL:-}"/>

    <!-- 콘솔 appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] %-5level [%X{traceId:-}] %logger{36} - %msg%n%ex{full}</pattern>
        </encoder>
    </appender>

    <!-- Discord appender -->
    <appender name="DISCORD" class="me.gg.pinit.pinittask.infrastructure.logging.DiscordWebhookAppender">
        <webhookUrl>${DISCORD_WEBHOOK_URL}</webhookUrl>
        <username>backend-log</username>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] %-5level [%X{traceId:-}] %logger{36} - %msg%n```%ex{full}```
            </pattern>
        </layout>

        <!-- 최종 전송 지점에 필터 -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <appender name="ASYNC_DISCORD" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="DISCORD"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ASYNC_DISCORD"/>
    </root>

</configuration>