apiVersion: v1
kind: Service
metadata:
  name: task-service
  namespace: pinit
spec:
  selector:
    app: pinit-task
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
    - protocol: TCP
      port: 9090
      targetPort: 9090
  type: ClusterIP
  